h2 {
    text-align: center;
    margin: 30px;
    font-weight: bold;
}
.activityList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.activity {
    margin: 20px;
    padding: 10px;
    width: 20%;
    height: 260px;
    /* border: black 2px solid; */
    transition: transform .2s; 
    cursor: pointer;
}

.activityProfile {
    text-align: center;
    padding: 0px 20px 20px 20px;
    font-size: 22px;
}

.activityPic {
    width: 25%;
    margin: 20px;
}

.activityEditPic {
    width: 20%;
    margin: 20px;
}

.activityListPic {
    width: 75%;
    max-height: 75%;
    margin-bottom: 10px;
}

.pageHeader {
    text-align: center;
}

.singleActivity {
    text-align: center;
}

.activityPics {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.undefined.react-stars {
    margin-left: auto;
    margin-right: auto;
}

.zoom {
    padding: 35px;
    transition: transform .2s; 
    cursor: pointer;
}

.activity:hover {
    transform: scale(1.1); 
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.review {
    margin: 10px;
    padding: 10px;
    width: fit-content;
    max-width: 400px;
    height: 100px;
    border: black 2px solid;
    transition: transform .2s; 
    min-width: 150px;
    font-size: 18px;
}

.filter-section {
    display: flex;
    flex-direction: row;  
}

.filter-control {
    margin: 10px;
}

#firstDrop {
    margin-left: 100px;
}

.rightBtn {
    align-items: right;
    margin-right: 150px;
}

.leftBtn {
    float: left;
}

button {
    margin-right: 50%;
    margin-left: 50%;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    margin: 2px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin: 10px;
    text-align: left;
}

.activityForm {
    width: 50%;
}

fieldset {
    min-width: 0;
    padding: .5rem 0;
    margin: 0;
    border: 0;
}

.radio {
    margin: 10px;
}

.avgRating {
    display: flex;
    justify-content: center;
}