.tripList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.trip {
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 200px;
    border: black 2px solid;
    transition: transform .2s; 
    cursor: pointer;

}

h2 {
    text-align: center;
    margin: 30px;
    font-weight: bold;
}

.singleTrip {
    text-align: center;
}

.tripPics {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.undefined.react-stars {
    margin-left: auto;
    margin-right: auto;
}

.formStars{
    margin-left: 40px;
    justify-content: left;
}

.zoom {
    padding: 35px;
    transition: transform .2s; 
    cursor: pointer;
}

.trip:hover {
    transform: scale(1.1); 
}

fieldset {
    min-width: 0;
    padding: .5rem 0;
    margin: 0;
    border: 0;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin: 2px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin: 10px;
    text-align: left;
}

#form-about {
    height: 100px;
}

.tripForm {
    width: 50%;
}

.filter-section {
    display: flex;
    flex-direction: row;  
}

.filter-control {
    margin: 10px;
}

#firstDrop {
    margin-left: 150px;
}

.rightBtn {
    float: right;
    margin-right: 150px;
}

button {
    margin-right: auto;
    margin-left: auto;
}

.activityButtons {
    display: flex;
}

#ratingSection {
    display: flex;
}

#ratingLabel {
    padding-top: 5px;
}

.tAList {
    margin-bottom: 20px;
}

.tripActivities {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.tripActivity {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    border: black 2px solid;
    transition: transform .2s; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}