.popup {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(236, 241, 244);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
} 

.leftTo {
  background-color:rgb(46, 106, 70);
  color: white;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.beenTo {
  background-color: rgb(34, 81, 157);
  color: white;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.homepageHeader {
  text-align: center;
}

.us-state-map {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}