.header {
    background-image: url("https://res.cloudinary.com/dfxsl6a2c/image/upload/v1655567967/5050_3_eqc6mp.jpg");
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}

/* .headerText {
    text-align: center;
    width: 100%;
    font-size: 50px;
} */

/* .fullHeader {
    width: 100%;
    height: 300px;
} */

.headerSubText {
    font-size: 25px;
    background-color: black;
    padding: 10px;
    padding-top: 8px;
    height: fit-content;
    margin-right: 20%;
    margin-left: 21%;
    margin-top: 75px;
}

.navBar {
    display: flex;
    flex-wrap: nowrap;
    /* background-color: black; */
    background-color: rgb(204, 204, 204);

    height: 40px;
    justify-content: space-evenly;
}

.navBar__item {
    flex-basis: 50%;
    /* margin: 1000px; */
    list-style-type: none;
    /* color: white !important; */
    font-size: 100px;

}

.logo {
    width: 200px;
    height: 200px;
    display: inline-flex;
    /* margin-left: 30px; */
    /* border: solid black 4px; */
}