.header {
    background-image: url("https://res.cloudinary.com/dfxsl6a2c/image/upload/v1655567967/5050_3_eqc6mp.jpg");
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}

.headerText {
    /* text-align: center;
    width: 100%;
    font-size: 50px; */
}

.headerSubText {
    font-size: 25px;
    background-color: black;
    padding: 10px;
    padding-top: 8px;
    height: fit-content;
    margin: auto;
    position: relative;
}

.navBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: black;
}

.navBar__item {
    flex-basis: 50%;
    margin: 1000px;
    color: rgb(0, 0, 0);
    list-style-type: none;
}

.logo {
    width: 200px;
    height: 200px;
    display: inline-flex;
    /* margin-left: 30px; */
    /* border: solid black 4px; */
}